<template>
  <div>
    {{ label }}：
    <div class="editGear">
      <div class="dang-title">
        <span>编辑档位表</span>
        <el-form-item label="档位表" label-width="70px">
          <el-radio-group v-model="form.gearValue">
            <el-radio label="1">一维</el-radio>
            <el-radio label="2">二维</el-radio>
            <el-radio label="3">三维</el-radio>
          </el-radio-group>
        </el-form-item>
      </div>
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: "签约日期",
    },
  },
  data() {
    return {
      date: "",
      form: {
        gearValue: "2",
      },
    };
  },
  methods: {
    // 所有组件都返回这个方法
    getData() {
      return {
        date: this.date,
      };
    },
  },
};
</script>
<style lang="less" scoped>
.dang-title {
  display: flex;
  justify-content: space-between;
}
</style>
