<template>
    <div>
        <el-form-item >
            <div class="top" >
                <div class="top-left">
                    <div class="label">
                        如果
                        <div class="tiaojian">
                            且
                        </div>
                    </div>
                    <div class="line">
                        <div class="line-top">
                            <!-- <div class="top-content"> -->
                                拖拽区
                            <!-- </div> -->
                        </div>
                        <div class="line-bottom">
                            <!-- <div class="bottom-content"> -->
                                拖拽区
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
                <div class="top-right">
                    <div class="raido">
                        <el-radio-group v-model="form.radio">
                            <el-radio label="3">数值</el-radio>
                            <el-radio :label="6">文本</el-radio>
                            <el-radio :label="9">时间</el-radio>
                        </el-radio-group>
                    </div>
                    <div class="r-content">
                        <span class="label">则</span>
                        <el-input
                        type="textarea"
                        placeholder="请输入自己想要的配置指标"
                        v-model="form.textarea"
                        maxlength="30"
                        show-word-limit
                        :autosize="{ minRows: 4 }"
                        >
                        </el-input>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <span class="b-lable"> 否则</span>
                <el-input v-model="form.aa" />
            </div>
        </el-form-item>

    </div>
</template>
<script>
export default {
    data() {
        return {
            tiaojian:'qie',
            form: {
                radio: '3',
                textarea:'',
                aa:'',
            }
        }
    }
}
</script>

<style lang="less" scoped>
    .top {
        display: flex;
        justify-content: space-between;
        height: 120px;
        margin-bottom: 40px;
    }
    .top-left {
        flex: 1;
        display: flex;
        margin-right: 100px;
        .label {
            flex: 1;
            line-height: 118px;
            position: relative;
            .tiaojian {
                position: absolute;
                top: 0;
                left: 66px;
            }
        }
        .line {
            flex: 1;
            position: relative;
            .line-top {
                border: 1px dashed gray;
                width: 184px;
                height: 42px;
                margin-bottom: 34px;
                text-align: center;
                position: relative;
            }
            .line-top::after {
                content: '';
                position: absolute;
                left: -85px;
                top: 21px;
                width: 41px;
                height: 2px;
                background: gray;
            }

            .line-bottom {
                border: 1px dashed gray;
                width: 182px;
                height: 42px;
                text-align: center;
                position: relative;
            }

           .line-bottom::before {
                content: '';
                position: absolute;
                left: -85px;
                top: 21px;
                width: 41px;
                height: 2px;
                background: gray;
            }



        }
        .line::before {
            position: absolute;
            content: '';
            width: 2px;
            height: 82px;
            background: gray;
            top: 21px;
            left: -85px;
        }

    }
    .top-right {
        flex: 1;
        text-align: left;
        .r-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .label {
                margin-right: 15px;
            }
        }
    }
    .bottom {
        .b-lable {
            width: 50px;
        }
        display: flex;
        width: 200px;
        margin-left: 86px;
    }
</style>