<template>
  <div>
    <!-- {{label}} -->
    <!-- <el-date-picker
      v-model="date"
      type="date"
      placeholder="请选择签约日期">
    </el-date-picker> -->
    <el-form>
      <el-form-item :label="label" >
         <el-input v-if="id == 1015" v-model="date" placeholder="请输入" width="100px"></el-input>
         <el-select v-model="date" v-else-if="id == '1005'">
           <el-option label="正式员工" value="1">
             
           </el-option>
            <el-option label="见习员工" value="2">
             
           </el-option>
         </el-select>
         <el-input v-else v-model="date" placeholder="请输入" width="100px"></el-input>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
 export default {
    props: {
      label: {
        type: String,
        default: '签约日期'
      },
      id: {
      }
    },
    data() {
      return {
        date: '',
        ids: [
          1015, //当月FYC
          1016, //特定金额
          1017, //推荐比例
          1001, //辅导奖比例
          1002, //转正补发比例
          1003, //考核期（月数
          1004, //考核指标
          1005, //是否正式员工
          1006, //推荐比例
          1007,// 发放月数
        ]
      }
    },
    methods:{
      // 所有组件都返回这个方法
      getData(){
        return { 
          date:this.date
         }
      }
    }
  }
</script>

<style lang="less" scoped>
  .el-input {
    width: 200px;
  }
</style>