.content {
    display: flex;
    min-height: 100vh;
    background-image: url(@/assets/bg.svg);
    background-size: 100%;
    background-repeat: repeat;
    .content-body {
      flex: 1;
      padding: 20px;
      margin: 20px;
      box-sizing: border-box;
      background: #ffffff;
      box-shadow: 0 2px 60px 0 rgba(222, 222, 222, 0.5);
      flex-wrap: wrap;
      display: flex;
      .scheme-tree {
        min-width: 250px;
        padding-right:10px;
        .title-1 {
          font-family: PingFangSC-Medium;
          font-size: 18px;
          color: #000000;
          letter-spacing: 0;
          line-height: 18px;
          display: flex;
          align-items: center;
          input {
            background: #f5f5f5;
            border: 2px solid #a0a3af;
            border-radius: 2px;
            box-sizing: border-box;
            width: 200px;
            height: 35px;
            font-family: PingFangSC-Regular;
            font-size: 18px;
            color: #222222;
            letter-spacing: -0.01px;
            line-height: 14px;
            padding: 0 10px;
          }
          .el-icon-check {
            width: 35px;
            height: 35px;
            display: inline-flex;
            margin: 0;
            padding: 0;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            color: #ffffff;
            font-size: 28px;
            background: #1964df;
            border-radius: 2px;
            overflow: hidden;
          }
        }
        .sub-tree {
          margin-left: 50px;
          display: grid;
          .sub-tree-item {
            color: #1964df;
            position: relative;
            margin: 20px 0;
            cursor: pointer;
            width: max-content;
            i {
              font-size: 18px;
              margin-right: 5px;
            }
            &:before {
              content: "";
              width: 10px;
              height: 2px;
              background-color: #1964df;
              position: absolute;
              top: 9px;
              left: -15px;
              z-index: 1;
            }
            &:last-child {
              &::before {
                background-color: rgb(218, 218, 218);
              }
            }
            .grand-tree-item {
              position: relative;
              margin: 40px 0 0px 40px;
              font-family: PingFangSC-Medium;
              font-size: 14px;
              letter-spacing: 0;
              line-height: 14px;
                  width: max-content;
                  display: flex;
                  align-items: center;
                  justify-content: center;
              i{
                  color: #1964df;
                  margin-left: 10px;
              }
              .grand-tree-item-name{
                padding: 5px 3px 5px 10px;
                background-color: #19AB63;
                border-radius: 2px;
                color: #ffffff;
                display: flex;
                align-items: center;
                .el-icon-edit{
                  color: #ffffff;
                }
              }
              .grand-tree-item-checked{
                background-color: #1964df;
              }
              input{
                background: #f5f5f5;
                border: 2px solid #a0a3af;
                border-radius: 2px;
                box-sizing: border-box;
                width: 100px;
                height: 25px;
                font-family: PingFangSC-Regular;
                font-size: 18px;
                color: #222222;
                letter-spacing: -0.01px;
                line-height: 14px;
                padding: 0 10px;
              }
              .el-icon-check {
            width: 25px;
            height: 25px;
            display: inline-flex;
            margin: 0;
            padding: 0;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            color: #ffffff;
            font-size: 18px;
            background: #1964df;
            border-radius: 2px;
            overflow: hidden;
          }
              &:before {
                content: "";
                width: 10px;
                height: 2px;
                background-color: #1964df;
                position: absolute;
                top: 9px;
                left: -15px;
                z-index: 1;
              }
              &[islast="1"]{
                &::before {
                  background-color: rgb(218, 218, 218);
                }
              }
              &[islast="1"]{
              background: none;
              color: #1964df;
              padding: 0;
              i{
                  color: #1964df;
                  margin-left: 0;
              }
              }
            }

            .show-detail{
              display: inline-block;
              vertical-align: top;
              width: 20px;
              height: 20px;
              background-image: url(@/assets/show-more.svg);
              background-size: contain;
            }
          }
        }
        i {
          color: #1964df;
          margin-left: 5px;
          cursor: pointer;
        }
      }
      .plan-box{
        flex: 1;
        // margin-top: 105px;
        padding-left: 20px;
        border-left: 1px dashed #e5e5e5;
        h3{
          margin: 0 0 0 17px;
          position: relative;
          display: flex;
            align-items: center;
          &::before{
              content: "";
              position: absolute;
              width: 3px;
              height: 20px;
              background-color: #1964df;
              vertical-align: middle;
              left: -17px;
            }
        }
        .box-1{
          .title-area{
            margin: 17px;
            font-family: PingFangSC-Medium;
            font-size: 15px;
            color: #333333;
            letter-spacing: 0;
            line-height: 15px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &::before{
              content: "";
              position: absolute;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #1964df;
              vertical-align: middle;
              left: -17px;
            }
            >span >i{
              margin-left: 10px;
            }
            i{
              cursor: pointer;
              font-family: PingFangSC-Regular;
              font-size: 12px;
              color: #2169DF;
              letter-spacing: 0;
              line-height: 12px;
              user-select: none;
              font-style: normal;
            }
            button{
              background: #FFFFFF;
              border: 1px solid #1964DF;
              border-radius: 2px;
              width: 120px;
              height: 35px;
              font-family: PingFangSC-Medium;
              font-size: 18px;
              color: #1964DF;
              letter-spacing: 0;
              border-width: 2px;
              cursor: pointer;
            }
          }
          .body-area{
            margin-top: 17px;
            width: 100%;
            background: #F6F6F6;;
            min-height: 418px;
            padding: 10px;
            box-sizing: border-box;
          }
        }
        .last-tree-item {
              position: relative;
              height: 30px;
              margin: 40px 0 0px 40px;
              font-family: PingFangSC-Medium;
              font-size: 16px;
              letter-spacing: 0;
              line-height: 14px;
                  width: max-content;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;
              i{
                  color: #1964df;
                  margin-left: 10px;
                  font-size: 20px;
                  margin-right: 5px;
              }
              .last-tree-item-name{
                padding: 5px 3px 5px 10px;
                background-color: #1964df;
                border-radius: 2px;
                color: #ffffff;
                display: flex;
                align-items: center;
                margin-left: 15px;
                .el-icon-edit{
                  color: #ffffff;
                }
              }
              .last-tree-item-checked{
                background-color: #1964df;
              }
              input{
                background: #f5f5f5;
                border: 2px solid #a0a3af;
                border-radius: 2px;
                box-sizing: border-box;
                width: 150px;
                height: 30px;
                font-family: PingFangSC-Regular;
                font-size: 18px;
                color: #222222;
                letter-spacing: -0.01px;
                line-height: 14px;
                padding: 0 10px;
                margin-left: 15px;
              }
              .el-icon-check {
            width: 25px;
            height: 25px;
            display: inline-flex;
            margin: 0;
            padding: 0;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            color: #ffffff;
            font-size: 18px;
            background: #1964df;
            border-radius: 2px;
            overflow: hidden;
          }
              &:before {
                content: "";
                width: 10px;
                height: 2px;
                background-color: #1964df;
                position: absolute;
                top: 14px;
                left: -15px;
                z-index: 1;
              }
              &::after{
                content: "";
                width: 8px;
                height: 8px;
                border: 2px solid #1964df;
                border-radius: 50%;
                background-color: #fff;
                position: absolute;
                top: 9px;
                left: -5px;
                z-index: 1;
              }
              &[islast="1"]{
                &::before {
                  background-color: rgb(218, 218, 218);
                }
                &::after{
                    display: none;
                }
              }
              &[islast="1"]{
              background: none;
              color: #1964df;
              padding: 0;
              i{
                  color: #1964df;
                  margin-left: 0;
              }
              }
            }
      }
      .basic-info {
        background: #f6f6f6;
        flex-basis: 100%;
        padding: 10px;
        height: 280px;
      }
    }
    .content-right {
      width: 350px;
      box-sizing: border-box;
      background: linear-gradient(to right, #ffffff9e, white 35px);
      box-shadow: 0 2px 42px 0 rgba(177, 177, 177, 0.5);
      .fixed-box{
        width: 350px;
        background-color: transparent;
        padding: 20px;
        box-sizing: border-box;
        position: fixed;
        right: 0;
        height: 100%;
        overflow: auto;
      }
    }
  }