<template>
  <div class="content">
    <div class="content-body">
      <div class="scheme-tree">
        <div class="title-1">
          <span v-if="!isChangeName">{{ scheme.name }}</span>
          <input v-else v-model="scheme.name" />
          <i
            v-if="!isChangeName"
            @click="isChangeName = true"
            class="el-icon-edit"
          ></i>
          <i v-else @click="isChangeName = false" class="el-icon-check"></i>
        </div>
        <div class="sub-tree">
          <div
            v-autoLine
            v-for="(item, index) in scheme.subScheme"
            :key="index"
            class="sub-tree-item"
          >
            <div>
              <i v-if="item.selectFlag" class="el-icon-caret-right"></i>
              <span @click="handleSubTreeClick(item,scheme.subScheme,scheme)">{{ item.name }}</span>
              <i
                @click="(e) => handleShowBasicInfoModal(e, item)"
                class="el-icon-edit"
              ></i>
              <el-popover
                placement="right"
                :title="null"
                width="400"
                popper-class="detail-class"
                trigger="hover">
                <i class="show-detail" slot="reference"></i>
                <div class="detail-popup">
                  <div>
                    <span>方案类型: {{item.basicInfo && item.basicInfo.rewardValueLabel ? item.basicInfo.rewardValueLabel : '无'}}</span>
                    <span>渠道: {{item.basicInfo && item.basicInfo.chanelLabel ? item.basicInfo.chanelLabel : '无'}}</span>
                    <span>机构: {{item.basicInfo && item.basicInfo.institutionLabel ? item.basicInfo.institutionLabel : '无'}}</span>
                  </div>
                  <div>
                    <span>时间: {{item.basicInfo && item.basicInfo.planTime ? moment(item.basicInfo.planTime[0]).format("YYYY-MM-DD") : '无'}}
                       到 {{item.basicInfo && item.basicInfo.planTime ? moment(item.basicInfo.planTime[1]).format("YYYY-MM-DD") : '无'}}
                    </span>
                    <!-- <span>方案对象: {{item.basicInfo.chanelLabel}}</span> -->
                  </div>
                </div>
              </el-popover>
            </div>
           <div v-if="item.selectFlag">
            <div
              v-autoLine
              v-for="grand in item.grandScheme"
              :key="grand.id"
              class="grand-tree-item"
            >
                <span :class="{'grand-tree-item-name':true,'grand-tree-item-checked': selectedGrand && selectedGrand.id === grand.id}" v-if="!grand.changeNameFlag" @click="(e) => handleShowPlanModal(e,grand,item.grandScheme)">
                  {{ grand.name }}
                  <i
                    v-if="!grand.changeNameFlag"
                    @click="(e) => handleChangeGrandName(e, grand,true)"
                    class="el-icon-edit"
                  ></i>
                </span>
                <input v-else v-model="grand.name" />
                <i v-if="grand.changeNameFlag" @click="(e) => handleChangeGrandName(e, grand ,false)" class="el-icon-check"></i>
              <i v-if="selectedGrand && selectedGrand.id === grand.id" class="el-icon-caret-right"></i>
            </div>
            <div v-autoLine @click="addBonus(item.grandScheme,index)" class="grand-tree-item" isLast="1">
              <i class="el-icon-circle-plus-outline"></i> 添加奖金项
            </div>
           </div>
          </div>
          <div v-autoLine @click="addScheme" class="sub-tree-item">
            <i class="el-icon-circle-plus-outline"></i> 添加子方案
          </div>
        </div>
      </div>
      <div v-if="selectedGrand && oprateFlag == 2" class="plan-box">
        <h3>{{selectedGrand && selectedGrand.name}}</h3>
        <div class="box-1" id="box1">
          <div class="title-area">
            <span>方案对象的入围条件<i @click="showShortlisted = !showShortlisted">收起全部<i :style="!showShortlisted ? 'transform: rotate(180deg);' :''" class="el-icon-arrow-up"></i> </i></span>
          </div>
          <transition name="el-zoom-in-top">
            <div v-if="showShortlisted" class="body-area">
              <div v-autoLine v-for="item in selectedGrand.short" :key="item.id" class="last-tree-item">
                
                <span :class="{'last-tree-item-name':true}" v-if="!item.changeNameFlag">
                  <shortlisted-condition :short="item" :name="item.name" :dangwei="dangwei" @changeData="(data) => changeShortlistedConditionData(item,data)"/>
                  <i
                    v-if="!item.changeNameFlag"
                    @click="(e) => handleChangeLastName(e, item,true)"
                    class="el-icon-edit"
                  ></i>
                </span>
                <input v-else v-model="item.name" />
                <i v-if="item.changeNameFlag" @click="(e) => handleChangeLastName(e, item ,false)" class="el-icon-check"></i>
              </div>
              <!-- 这里给key值的作用：触发v-autoline更新 -->
            <div v-autoLine :key="'a' + selectedGrand.id" @click="addLast(selectedGrand.short, '入围条件')" class="last-tree-item" isLast="1">
              <i class="el-icon-circle-plus-outline"></i> 添加条件项
            </div>
          </div>
          </transition>
        </div>
        <div class="box-1" id="box2">
          <div class="title-area">
            <span>追踪条件/计算逻辑<i @click="showLogic = !showLogic">收起全部<i :style="!showLogic ? 'transform: rotate(180deg);' :''" class="el-icon-arrow-up"></i> </i></span>
            <!-- <button style="float:right" >编辑公式</button> -->
            <calculate-dialog :data="selectedGrand.calculate" />
          </div>
          <transition name="el-zoom-in-top">
            <div v-show="showLogic" class="body-area">
             <div v-autoLine v-for="item in selectedGrand.calculate" :key="item.id" class="last-tree-item">
                
                <span :class="{'last-tree-item-name':true}" v-if="!item.changeNameFlag">
                  <!-- <span>{{item.name}}</span> -->
                  <shortlisted-condition :short="item"  :name="selectedGrand.name"  :dangwei="!dangwei"/>
                  <i
                    v-if="!item.changeNameFlag"
                    @click="(e) => handleChangeLastName(e, item,true)"
                    class="el-icon-edit"
                  ></i>
                </span>
                <input v-else v-model="item.name" />
                <i v-if="item.changeNameFlag" @click="(e) => handleChangeLastName(e, item ,false)" class="el-icon-check"></i>
              </div>
            <div v-autoLine :key="'b' + selectedGrand.id" @click="addLast(selectedGrand.calculate,'计算条件')" class="last-tree-item" isLast="1">
              <i class="el-icon-circle-plus-outline"></i> 添加条件项
            </div>
          </div>
          </transition>
        </div>
      </div>
      <div v-if="currentBasicInfo && oprateFlag == 1" class="basic-info">
        <contentBasic :basicInfo="currentBasicInfo" @handleBasicInfoChange="handleBasicInfoChange"></contentBasic>
      </div>
      
    </div>
    <div class="content-right">
      <div class="fixed-box">
        <indexTag></indexTag>
        <calculateBox></calculateBox>
      </div>
    </div>
  </div>
</template>

<script>
import indexTag from "@/components/indexTag.vue";
import calculateBox from "@/components/calculateBox.vue";
import contentBasic from "@/components/contentBasic.vue"
import Scheme from "@/utils/Scheme";
import shortlistedCondition from "@/components/shortlistedCondition.vue"
import calculateDialog from "@/components/calculateDialog.vue"
import _ from "lodash";
import { autoLine } from "@/utils/directives"
import moment from "moment"
import editGeatContent from '@/components/components/editGeatContent.vue'

const { data,subScheme,grandScheme,selectedGrand,selectedSub,short,calculate, defaultForm, defaultShortForm} = Scheme;
export default {
  components: { indexTag,calculateBox,contentBasic, shortlistedCondition,calculateDialog },
  directives: {
    autoLine: autoLine
  },
  data() {
    return {
      moment,
      dangwei: false,
      scheme: data,
      selectedGrand:selectedGrand,
      selectedSub:selectedSub,
      calculate:calculate,
      isChangeName: false, // 修改标题的状态
      subActiveKey: null,
      showBasicInfoModal: false, //是否显示基本信息区域
      currentBasicInfo: null,
      showShortlisted:true, // 显示入围条件
      showLogic:true, // 显示计算逻辑
      oprateFlag: 0, // 当前页面操作flag   0: 无操作，1: 编辑子方案信息，2:编辑奖金项信息
    };
  },
  methods: {
    // 添加方案
    addScheme() {
      const id = _.uniqueId()
      this.scheme.subScheme.push({
        ...JSON.parse(JSON.stringify(subScheme)),
        name: "子方案" + id,
        id,
        form: {...defaultForm}
      });
      console.log(this.scheme.subScheme)
      setTimeout(()=>{
          this.$forceUpdate()
      },500)
    },
    // 添加奖金项
    addBonus(item){
      const id = _.uniqueId()
        item.push({
            ...JSON.parse(JSON.stringify(grandScheme)),
            name: "奖金项" + id,
            id: id,
            short:[], // 测试
            calculate:[]
        })
        console.log(this.scheme);
    },
    // 添加条件项
    addLast(last,str = '入围条件'){
      const id = _.uniqueId()
      last.push({
        ...JSON.parse(JSON.stringify(short)),
        name:str + id,
        id,
        form: {...defaultShortForm}
        });
        console.log(last,'last')
    },
    // 基本信息编辑
    handleShowBasicInfoModal(e, item) {
      console.log(item)
      e.stopPropagation();
      item.editFlag = true;
      this.oprateFlag = 1
      this.currentBasicInfo = item;
      this.showBasicInfoModal = true;
    },
    // 点击显示子项目
    handleSubTreeClick(item,subTree,tree) {
      this.selectedSub = item;
      subTree.forEach(element => {
        element.selectFlag = false
      });
      item.selectFlag = true
    },
    handleShowPlanModal(e,grand){
      this.selectedGrand = grand
      this.oprateFlag = 2
      e.stopPropagation();
    },
    handleChangeGrandName(e,grand,val=false){
      console.log(e, 'bbb')
      e.stopPropagation()
      grand.changeNameFlag = val
    },
    handleChangeLastName(e,item,val=false){
      console.log(item,this.scheme);
      e.stopPropagation()
      this.$set(item,"changeNameFlag",val)
      // item.changeNameFlag = val
    },
    handleBasicInfoChange(property,val,id){
      console.log(this.scheme);
      // 根据id去查子方案
      this.scheme.subScheme.forEach(item =>{
        if(item.id === id){
          this.$set(item,property,val)
        }
      })
      this.currentBasicInfo[property] = val
    },
    // 修改数据到树上
    changeShortlistedConditionData(item,data){
      this.$set(item,'data',data)
      console.log("===>",item,this.scheme);
    }
  },
};
</script>

<style lang="less" scoped>
@import "./indexPage.less";
</style>

<style lang="less">
  .el-popover.com-popper-style{
      border: 2px dashed #1964df;
      min-height: 300px;
  }
.detail-class{
  background: #222B45 !important;
border-radius: 2px 2px 2px 2px 0 0 0;
.popper__arrow{
  // color: ;
}
.popper__arrow{
  border-right-color: #222B45 !important;
  border-radius: 2px 2px 2px 2px 0 0 0 !important;
  border: none !important;
  &::after{
    border-right-color: #222B45 !important;
  }
}
}
  .detail-popup{
    >div{
      color: #fff;
      margin: 5px;
    justify-content: space-between;
    display: flex;
    }
  }
</style>