

<template>
  <div class="calculate-box" @dragstart="handleDragStart">
    <h4>计算工具箱</h4>
    <div class="calculate-tag">
      <div
        draggable
        class="calculate-tag-item"
        v-for="(item, index) in CAL_BOX"
        :data-index="item.id"
        :key="item.id"
      >
        <!-- <img
          width="44"
          height="44"
          :src="require(`@/assets/${item.icon}.svg`)"
          alt="error"
        /> -->
        <div class="im" :class="`im${index}`">
          <span class="label">{{ item.label }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ENUM from "@/utils/Enum";
const { CAL_BOX } = ENUM;
export default {
  data() {
    return {
      CAL_BOX,
    };
  },
  methods: {
    handleDragStart(e) {
      console.log(e.target.dataset.index, "mmmm");
      e.dataTransfer.setData("index", e.target.dataset.index);
    },
  },
};
</script>

<style lang="less" scoped>
.calculate-box {
  margin-top: 20px;
  border-top: 1px dashed #c5c7cf;
  h4,
  h5 {
    margin: 0;
  }
  h4 {
    margin: 10px 0;
  }
  .calculate-tag {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    // grid-template-rows: 33.33% 33.33% 33.33%;
    .calculate-tag-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
      letter-spacing: 0;
      cursor: grab;
      user-select: none;
      > img {
        margin-top: 20px;
      }
      > span {
        margin: 10px 0;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #000000;
        letter-spacing: 0;
        line-height: 14px;
      }
    }
  }
  .im {
    width: 60px;
    height: 60px;
    position: relative;
    margin: 15px;
    .label {
      position: absolute;
      bottom: -20px;
      text-align: center;
      display: inline-block;
      width: 100%;
    }
  }
  .im0 {
    background: url(../assets/icon1.svg) center no-repeat;
  }
  .im1 {
    background: url(../assets/icon2.svg) center no-repeat;
  }
  .im2 {
    background: url(../assets/icon3.svg) center no-repeat;
  }
  .im3 {
    background: url(../assets/icon4.svg) center no-repeat;
  }
  .im4 {
    background: url(../assets/icon5.svg) center no-repeat;
  }
  .im5 {
    background: url(../assets/icon6.svg) center no-repeat;
  }
}
</style>