<template>
  <div>
    <el-popover
      placement="bottom-end"
      width="800"
      trigger="manual"
      v-model="visible"
      popper-class="proper-box"
    >
      <calculate :data="data" ref="cal"/>
      <el-button slot="reference" @click="calculateBtn">编辑公式</el-button>
    </el-popover>
  </div>
</template>
<script>
import calculate from "./components/calculate.vue"
export default {
  components: {
    calculate
  },
  props: {
    data: {
      typeof: Object,
      default: [],
    }
  },
  data() {
    return {
      visible: false,
    };
  },
  methods: {
    calculateBtn() {
    // this.$emit("calculateBtn", !this.visible);
    this.$refs.cal.CHOOSE_ARR = this.data
    this.visible = !this.visible;
  },
  },
};
</script>
<style lang="less" scoped>
.popover {
  padding: 34px;
}
</style>
<style>
  .popper-box {
    
  }
</style>