<template>
  <div class="content-basic-title">
    <div class="content-title">
      <span v-if="!changeName" @click="changeName = !changeName" class="conten-basic-plan">
      {{name}}
    </span>
    <span v-else class="conten-basic-plan">
      <input v-model="name" type="text">
      <i @click="handleChangeName" class="el-icon-check"></i>
    </span>
    <h4>基本信息区</h4>
    </div>
      
    <div class="content-select">
      <el-form :model="form" label-width="100px" label-position="top">
        <el-row>
          <el-col :span="6">
            <el-form-item label="方案类型">
              <el-cascader
                v-model="form.planValue"
                :options="REWARD_TYPE"
                :props="{ expandTrigger: 'hover' }"
                @change="handleChange"
              >
              </el-cascader>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="奖励类型">
              <el-select v-model="form.rewardValue">
                <el-option
                  v-for="item in REWARD_TYPE"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="渠道">
              <el-select v-model="form.chanel" placeholder="请选择">
                <el-option
                  v-for="item in CHANNEL"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="机构">
              <el-select
                v-model="form.institution"
                placeholder="请选择"
              >
                <el-option
                  v-for="item in INSTITUTION"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="方案生效时间">
              <el-date-picker
                v-model="form.planTime"
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
              >
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="方案对象">
              <el-cascader
                v-model="form.planObject"
                :options="PLAY_OBJECT"
                :props="{
                  expandTrigger: 'hover',
                  multiple: true,
                  checkStrictly: true,
                }"
                @change="handleChange"
              >
              </el-cascader>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="结算方式">
              <el-select
                v-model="form.settlement"
                placeholder="请选择"
              >
                <el-option
                  v-for="item in SETTLEMENT"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </div>
    <div class="operation">
      <el-button class="btn" type="primary" @click="saveBtn">保存</el-button>
      <el-button class="btn" type="info" @click="cancleBtn">取消</el-button>
      <!-- <calculate-dialog  :visible="visible" @calculateBtn="calculateBtn"/> -->
      <!-- <shortlisted-condition /> -->
    </div>
  </div>
</template>

<script>
import CalculateDialog from "./calculateDialog";
import ShortlistedCondition from "./shortlistedCondition";
import BASIC from "@/utils/contentBasic";
import {
  REWARD_TYPE,
  CHANNEL,
  INSTITUTION,
  PLAY_OBJECT,
  SETTLEMENT,
} from "@/utils/contentBasic";
import Scheme from "@/utils/Scheme";
const { defaultForm } = Scheme;
const { PLAY_TYPE } = BASIC;
export default {
  components: {
    CalculateDialog,
    ShortlistedCondition,
  },
  props: {
    basicInfo: {
      type: Object,
      default:null
    },
  },
  data() {
    return {
      PLAY_TYPE,
      REWARD_TYPE,
      CHANNEL,
      INSTITUTION,
      SETTLEMENT,
      PLAY_OBJECT,
      form: {...this.defaultForm()},
      visible: false,
      name: '',
      changeName:false,
    };
  },
  mounted() {
    this.name = this.basicInfo.name
    console.log(this.basicInfo);
    // 数据回显
    if(this.basicInfo.basicInfo){
      this.form = {...this.basicInfo.basicInfo}
    }
  },
  watch:{
    basicInfo(newVal){
      this.form= {...this.defaultForm()}
          this.name = this.basicInfo.name
      if(newVal.basicInfo){
          this.form = {...this.basicInfo.basicInfo}
      }
    }
  },
  methods: {
    defaultForm() {
      return {
        planValue: [],
        rewardValue: "",
        chanel: "",
        institution:'',
        planTime:'',
        planObject: '',
        settlement:'',
      }
    },
    saveBtn() {
      this.$parent.oprateFlag = 0;
      // 数据回显使用回传
      console.log(this.form,PLAY_OBJECT);
      console.log(REWARD_TYPE);
      let rewardObjectF = REWARD_TYPE.filter(ele => ele.value === this.form.planValue[0]) || null
      rewardObjectF = rewardObjectF && rewardObjectF[0] ? rewardObjectF[0] : null
      rewardObjectF = rewardObjectF && rewardObjectF.children.filter(ele => ele.value === this.form.planValue[1])
      let rewardObjectLabel = rewardObjectF && rewardObjectF[0] ? rewardObjectF[0].label : ''
      console.log(rewardObjectF);
      let mydata = {
        ...this.form,
        chanelLabel: this.form.chanel || this.form.chanel === 0 ? CHANNEL[this.form.chanel].label : '',
        institutionLabel: this.form.institution || this.form.institution === 0 ? INSTITUTION[this.form.institution].label : '',
        settlementLabel: this.form.settlement || this.form.settlement === 0 ? SETTLEMENT[this.form.settlement].label : '',
        // planObjectLabel: planObjectLabel,
        // planValueLabel: Array(2)
        rewardValueLabel: rewardObjectLabel
      }
      this.$emit("handleBasicInfoChange",'basicInfo',mydata,this.basicInfo.id)
      this.$message({
        message: "保存信息成功",
        type: "success",
      });
    },
    cancleBtn() {
      this.form = { ...this.defaultForm() }
      this.$parent.oprateFlag = 0;
      // this.$confirm("清除所填值, 是否继续?", "提示", {
      //   confirmButtonText: "确定",
      //   cancelButtonText: "取消",
      //   type: "warning",
      // })
      //   .then(() => {
      //     this.basicInfo.form = {...defaultForm};
      //     this.$parent.scheme.subScheme.map( val => {
      //       if(val.id == this.basicInfo.id) {
      //         val.form = {...this.basicInfo.form}
      //       }
      //     })
      //     this.$message({
      //       type: "success",
      //       message: "清除成功!",
      //     });
      //   })
      //   .catch(() => {
      //     this.$message({
      //       type: "info",
      //       message: "已取消",
      //     });
      //   });
    },
    handleChange () {
      console.log({...arguments});
    },
    handleChangeName(){
      this.changeName = false
      this.$emit("handleBasicInfoChange",'name',this.name,this.basicInfo.id)
    },
    calculateBtn() {
      this.visible = !this.visible;
    },
  },
};
</script>

<style lang="less" scoped>
.content-basic-title {
  font-size: 18px;
  color: #333333;
  .content-title{
    display: flex;
    align-items: center;
    h4{
      margin: 0;
    }
    input{
                background: #f5f5f5;
                border: 2px solid #a0a3af;
                border-radius: 2px;
                box-sizing: border-box;
                width: 150px;
                height: 30px;
                font-family: PingFangSC-Regular;
                font-size: 18px;
                color: #222222;
                letter-spacing: -0.01px;
                line-height: 14px;
                padding: 0 10px;
              }
    .el-icon-check {
            width: 25px;
            height: 25px;
            display: inline-flex;
            margin: 0;
            padding: 0;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            color: #ffffff;
            font-size: 18px;
            background: #1964df;
            border-radius: 2px;
            overflow: hidden;
          }
  }
  .conten-basic-plan {
    color: #1964df;
    font-size: 18px;
    position: relative;
    padding: 0 10px 0 12px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .content-select {
    padding: 20px 0px 20px 18px;
    .label {
      display: inline-block;
      font-size: 15px;
      color: #333333;
      padding-bottom: 5px;
    }
  }
  .conten-basic-plan::before {
    content: "";
    position: absolute;
    background: #1964df;
    height: 16px;
    width: 4px;
    top: 0px;
    left: 0px;
    transform: translate(50%,25%);
  }
  .operation {
    display: flex;
    justify-content: center;
    .btn {
      width: 120px;
      font-size: 18px;
    }
  }
  /deep/.el-form--label-top .el-form-item__label {
    padding: 0;
  }
  /deep/.el-select {
    width: 80%;
  }
  /deep/.el-date-editor {
    width: 80%;
  }
  /deep/ .el-cascader {
    width: 80%;
  }
}
</style>