<template>
  <div class="index-tag" @dragstart="handleDragStart">
    <h4>指标引用定义区</h4>
    <h5>短列表推荐</h5>
    <div
      draggable
      class="index-tag-item"
      v-for="item in INDEX_TAG"
      :data-index="item.id"
      :key="item.id"
    >
    <el-tooltip class="item" effect="dark" :content="item.englishName" placement="top-start">
      <span>{{ item.label }}</span>
    </el-tooltip>
      
    </div>
  </div>
</template>

<script>
import ENUM from "@/utils/Enum";
const { INDEX_TAG } = ENUM;
export default {
  data() {
    return {
      INDEX_TAG,
    };
  },
  methods: {
    handleDragStart(e) {
      console.log(e.target.dataset.index, 'dddd')
      e.dataTransfer.setData("index", e.target.dataset.index);
    },
  },
};
</script>

<style lang="less" scoped>
.index-tag {
  h4,
  h5 {
    margin: 0;
  }
  h4 {
    margin-bottom: 10px;
  }
  .index-tag-item {
    background: #1964df;
    border-radius: 2px;
    width: max-content;
    padding: 5px 15px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
    display: inline-block;
    margin: 15px 15px 0 0;
    cursor: grab;
    user-select: none;
  }
}
</style>