<template>
  <el-popover
    placement="bottom-start"
    width="840"
    trigger="click"
    popper-class="popper-shortlist"
    v-model="shortPop"
  >
    <div class="shortlisted-condition">
      <el-form :model="form" label-position="left" >
        <shortlist-child :form="form" >
          <el-form-item v-if="form.inputModel == 2" label="配置条件：" >
            <div
              v-if="!type"
              class="indicators"
              @drop="handleDrop"
              @dragover="handleDragOver"
            >
              {{short.name.indexOf("入围条件") > -1 ? '请拖入右边指标条件' : '请拖入右边计算工具箱'}}
            </div>
            <div v-else @drop="handleDrop"
              @dragover="handleDragOver">
                <component
                  :is="template"
                  :label="label"
                  :id="id"
                  ref="customCom"
                >
                  <editGeatContent :form="form" :name="name"/>
                </component>
            </div>
          </el-form-item>
          <el-form-item v-if="form.inputModel == '1'" label="配置条件">
            <!-- <el-input v-if="!dangwei"
              type="textarea"
              placeholder="请输入自己想要的配置指标"
              v-model="form.conditions"
              maxlength="30"
              show-word-limit
              :autosize="{ minRows: 4 }"
            >
            </el-input> -->
            <calculate :data="[]"  />
          </el-form-item>
        </shortlist-child>
      </el-form>
      <div class="operation">
        <el-button class="btn" type="primary" @click="saveBtn">保存</el-button>
        <el-button class="btn" type="info" @click="cancleBtn">取消</el-button>
      </div>
    </div>
    <el-button slot="reference">{{ short.name }}</el-button>
  </el-popover>
</template>
<script>
import Vue from "vue";
import shortlistChild from "./components/shortlitedChild.vue";
import { INVESTIGATION_OBJECT } from "@/utils/shortlistedCondition";
import editGeatContent from "./components/editGeatContent";
import ENUM from "@/utils/Enum";
import calculate from "./components/calculate.vue"

const { INDEX_TAG, CAL_BOX } = ENUM;
export default {
  components: {
    shortlistChild,
    editGeatContent,
    calculate
  },
  props: {
    name: {
      default: "奖项",
      type: String,
    },
    dangwei: {
      default: false,
    },
    short: {
      type: Object,
      default: {},
    },
  },
  data() {
    return {
      shortPop: false,
      INVESTIGATION_OBJECT,
      INDEX_TAG,
      CAL_BOX,
      type: "",
      form: {
        ...this.short.form,
        // ...this.defaultForm(),
      },
      tags: {}, //右上角指标值 短列表指标
      tagsBottom: {}, //右下角计算工具箱
      label: "",
      id: "",
    };
  },
  mounted() {
    console.log(this.name, "aaa");
  },
  methods: {
    defaultForm() {
      return {
        investigationObject: "",
        inputModel: "2",
        conditions: "",
        type: "",
        template: null,
        gearValue: "",
        time: "",
      };
    },
    handleDragOver(e) {
      e.preventDefault();
    },
    handleDrop(e) {
      e.preventDefault();
      e.stopPropagation();
      this.type = e.dataTransfer.getData("index"); //取到目标值
      if (this.short.name.indexOf("入围条件") > -1 ) {
        const datas = ENUM.INDEX_TAG.find((ele) => ele.id == this.type);
        if (datas && datas.template) {
          this.template = datas.template;
          this.label = datas.label;
          this.id = datas.id;
        }
        // console.log("---",datas);
        //   const component = lists[e.dataTransfer.getData("index")];
        console.log(this.type);
        INDEX_TAG.map((val) => {
          if (val.id == this.type) {
            console.log(val);
            this.tags = val;
          }
        });
      }else {
        const datas = ENUM.CAL_BOX.find((ele) => ele.id == this.type);
        console.log(datas, 'cal')
        if (datas && datas.template) {
          this.template = datas.template;
          this.label = datas.label;
          this.id = datas.id;
        }
        console.log(this.type);
        CAL_BOX.map((val) => {
          if (val.id == this.type) {
            console.log(val);
            this.tags = val;
          }
        });
      }
    },
    saveBtn() {
      // 获取数据
      const mydata = this.$refs.customCom && this.$refs.customCom.getData();
      mydata && this.$emit("changeData", mydata);
      this.shortPop = !this.shortPop;
    },
    cancleBtn() {
      this.shortPop = false;
      this.form = { ...this.defaultForm() };
      this.type = 0;
    },
  },
};
</script>
<style lang="less" scoped>
.shortlisted-condition {
  //   border: 1px dashed #1964df;
  padding: 10px;
  .configuration-condition {
    width: 625px;
    min-height: 70px;
    border: 1px #79798b dashed;
  }
  .epa {
    margin-right: 14px;
  }
  .margin-left-14 {
    margin-left: 14px;
  }
  .operation {
    display: flex;
    justify-content: center;
    .btn {
      width: 120px;
      font-size: 18px;
    }
  }
  .popover {
    position: relative;
  }
  .indicators {
    border: 1px dashed #797e8b;
    height: 70px;
    width: 623px;
    line-height: 70px;
    margin: auto;
    text-align: center;
  }
}
</style>
<style>
.el-popover.popper-shortlist {
  border: 2px dashed #1964df;
  padding-bottom: 80px;
}
</style>