<template>
  <div class="popover">
    <div class="choose">
      <span class="choose-title">选项：</span>
      <ul>
        <li v-for="item in FORMULA" :key="item.name" @click="formulaBtn(item)">
          {{ item.name }}
        </li>
      </ul>
    </div>
    <div class="choose-content">
      <div
        class="choose-content-item"
        v-for="item in CHOOSE_ARR"
        :key="item.id"
        @click="chooseItem(item)"
      >
        {{ item.name }}
      </div>
    </div>
    <div class="choose-result">
      <div class="choose-result-title"><span> </span>计算公式</div>
    </div>
    <div class="choose-result-content">
      <div
        :class="[
          item.id != 'a'
            ? 'choose-result-content-item'
            : 'choose-result-content-item1',
        ]"
        v-for="item in calculateArr"
        :key="item.name"
      >
        {{ item.name }}
      </div>
    </div>
  </div>
</template>
<script>
import { FORMULA} from "@/utils/contentBasic";
import ENUM from '@/utils/Enum.js'
import Scheme from "@/utils/Scheme";
const { selectedGrand } = Scheme;
const {INDEX_TAG} = ENUM
export default {
  props: {
    data: [],
  },
  data() {
    return {
      CHOOSE_ARR: this.data.length>0 ? [...this.data] : [...this.handel()],
      FORMULA: [...this.handleFormula()],
      calculateArr: [],
      selectedGrand,
    };
  },
    methods: {
    handel() {
     return  INDEX_TAG.map(item => {
        return {
          name: item.label,
          id: item.id
        }
      })
    },
    chooseItem(item) {
      const { name, id } = item;
      // const val =
      //   this.calculateArr.length > 0
      //     ? this.calculateArr[this.calculateArr.length - 1].id
      //     : this.calculateArr.push({ name, id });
      // if (isNaN(val) == false && isNaN(item.id) == false) {
      //   return;
      // }
      this.calculateArr.push({ name, id });
    },
    handleFormula(item) {
      if(this.data.length > 0) {
        return FORMULA.slice(0, FORMULA.length - 3)
      }else {
        return FORMULA
      }
    },
    formulaBtn(item) {
      const { name, id } = item;
      // const val =
      //   this.calculateArr.length > 0
      //     ? this.calculateArr[this.calculateArr.length - 1].id
      //     : "";
      // if ((val == "a" && item.id == "a") || this.calculateArr.length == 0) {
      //   return;
      // }
      this.calculateArr.push({ name, id });
    },
  },
};
</script>

<style lang="less" scoped>
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.choose {
  display: flex;
  .choose-title {
    font-size: 14px;
    color: #222;
    line-height: 28px;
  }
}
ul {
}
li {
  width: 30px;
  height: 30px;
  float: left;
  background: #1964df;
  color: #fff;
  border-radius: 100%;
  text-align: center;
  line-height: 28px;
  font-size: 20px;
  margin: 0 20px;
}
.choose-content {
  padding-left: 20px;
  .choose-content-item {
    display: inline-block;
    // width: 97px;
    height: 26px;
    padding: 2px 5px;
    color: #19ab63;
    border: 1px solid #19ab63;
    margin: 13px 10px;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
  }
}
.choose-result-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #f5f5f5;
  padding: 15px;
  .choose-result-content-item {
    width: 97px;
    height: 26px;
    border: 1px solid #19ab63;
    color: #19ab63;
    margin: 13px 10px;
    text-align: center;
    line-height: 26px;
  }
  .choose-result-content-item1 {
    width: 30px;
    height: 30px;
    background: #1964df;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 28px;
    font-size: 20px;
    margin: 0 10px;
  }
  /deep/.el-button {
    background: yellowgreen;
  }
}
</style>