<template>
  <div>
    <el-table
      :data="items"
      :key="randomKey"
      @cell-dblclick="editData"
      border
      :header-cell-style="{ background: '#a0a3af', color: '#333' }"
      :cell-style="cellStyle"
      style="width: 100%"
    >
      <el-table-column property="date">
        <template
          slot="header"
          slot-scope="scope"
        >
          <el-form-item>
            <div class="header-content">
              <div class="header-content-lable">维度一：</div>
              <div
                :class="[tags1.label ? '' : 'header-content-content']"
                @drop="handleDrop1"
                @dragover="handleDragOver"
              >
                {{ tags1.label ? tags1.label : "请拖入右边指标" }}
              </div>
            </div>
          </el-form-item>
        </template>
        <template slot-scope="scope">
          <span v-if="scope.$index == 0">挡位：{{ !scope.row[scope.column.property + 'isShow'] ? scope.row.date : ''}}</span>
          <el-input
            style="width: 120px"
            v-if="
              scope.row[scope.column.property + 'isShow'] && scope.$index == 0
            "
            :ref="scope.column.property"
            v-model="scope.row.date"
            @blur="alterData(scope.row, scope.column)"
          ></el-input>
          <span v-else-if="scope.$index != 0">
            <!-- <el-select v-model="scope.row.date" placeholder="请选择">
              <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
              </el-option>
            </el-select> -->
            <el-input v-model="scope.row.date" placeholder="请输入"></el-input>
          </span>
        </template>
      </el-table-column>
      <el-table-column property="name">
        <template slot="header" slot-scope="scope">
          <el-form-item>
            <div
              class="header-content"
              @drop="handleDrop2"
              @dragover="handleDragOver"
            >
              <div class="header-content-lable">维度二：</div>
              <div
                :class="[tags2.label ? '' : 'header-content-content']"
              >
                {{ tags2.label ? tags2.label : "请拖入右边指标" }}
              </div>            
            </div>
          </el-form-item>
        </template>
        <template slot-scope="scope">
          <span v-if="scope.$index == 0">挡位：{{!scope.row[scope.column.property + 'isShow'] ? scope.row.name : ''}}</span>
          <el-input
            style="width: 120px"
            v-if="
              scope.row[scope.column.property + 'isShow'] && scope.$index == 0
            "
            :ref="scope.column.property"
            v-model="scope.row.name"
            @blur="alterData(scope.row, scope.column)"
          ></el-input>
          <span v-else-if="scope.$index != 0">
            <!-- <el-select v-model="scope.row.name">
              <el-option v-for="item in options1" :value="item.value" :label="item.label" :key="item.value"></el-option>
            </el-select> -->
            <el-input v-model="scope.row.date" placeholder="请输入"></el-input>
          </span>
        </template>
      </el-table-column>

      <el-table-column property="address">
        <template slot="header" slot-scope="scope">
          <el-form-item>
            <div
              class="header-content"
              @drop="handleDrop3"
              @dragover="handleDragOver"
            >
              <div class="header-content-lable">赋值：{{name}}</div>
              <!-- <div
                :class="[tags3.label ? '' : 'header-content-content']"
              >
                {{ tags3.label ? tags3.label : "请拖入右边指标" }}
              </div> -->
            </div>
          </el-form-item>
        </template>
        <template slot-scope="scope">
          <span v-if="scope.$index == 0"> </span>
          <span
            style="width: 120px"
            v-if="
              scope.row[scope.column.property + 'isShow'] && scope.$index == 0
            "
            :ref="scope.column.property"
            @blur="alterData(scope.row, scope.column)"
          ></span>
          <span v-else-if="scope.$index != 0"><el-input v-model="scope.row.address"></el-input></span>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import ENUM from "@/utils/Enum";
const { INDEX_TAG,options, options1 } = ENUM;

export default {
  props: {
    form: {

    },
    name: {

    }
  },
  data() {
    return {
      tags1: {}, //右上角指标值 短列表指标
      tags2: {}, //右上角指标值 短列表指标
      tags3: {}, //右上角指标值 短列表指标
      tagsBottom: [], //右下角计算工具箱
      INDEX_TAG,
      options,
      options1,
      items: [
        {
          date: "1",
          name: "1",
          address: "4",
        },
        // {
        //   date: "A类",
        //   name: "择优标准",
        //   address: "上海市普陀区金沙江路 1518 弄",
        // },
        // {
        //   date: "B类",
        //   name: "择优标准",
        //   address: "上海市普陀区金沙江路 1517 弄",
        // },
        // {
        //   date: "C类",
        //   name: "择优标准",
        //   address: "上海市普陀区金沙江路 1519 弄",
        // },
      ],
      randomKey: Math.random(),
    };
  },
  mounted() {
    // console.log(this.name, 'nnnn')
  },
  watch() {},
  methods: {
    editData(row, column) {
      row[column.property + "isShow"] = true;
      //refreshTable是table数据改动时，刷新table的
      this.refreshTable();
      this.$nextTick(() => {
        this.$refs[column.property] && this.$refs[column.property].focus();
      });
    },
    alterData(row, column) {
      const nums= Number(row.date) * Number(this.items[0].name)
      for( let i=0; i<nums; i++) {
        this.items.push({date: '', name: '', address: ''})
      }
      this.items = this.items.slice(0, nums+1)
      row[column.property + "isShow"] = false;
      this.refreshTable();
    },
    refreshTable() {
      this.randomKey = Math.random();
    },
    cellStyle({ rowIndex }) {
      if (rowIndex == 0) {
        return {
          background: "#d2d4d9",
        };
      }
    },
    handleDragOver(e) {
      e.preventDefault();
    },
    handleDrop1(e) {
      this.dromComn(e, 1)
    },
    handleDrop2(e) {
       this.dromComn(e, 2)
    },
    handleDrop3(e) {
       this.dromComn(e, 3)
    },
    dromComn(e, id) {
      e.preventDefault();
      e.stopPropagation();
      this.type = e.dataTransfer.getData("index"); //取到目标值
      //   const component = lists[e.dataTransfer.getData("index")];
      console.log('aaa');
      INDEX_TAG.map((val) => {
        if (val.id == this.type) {
          console.log(val);
          this[`tags${id}`] = val;
        }
      });
    }
  },
};
</script>
<style lang="less" scoped>
.el-icon-edit {
  font-size: 18px;
  color: #1964df;
}
.saveBtn {
  display: inline-block;
  color: #1964df;
  height: 30px;
  padding: 5px;
  font-size: 16px;
}
.header-content {
  display: flex;
  .header-content-label {
  }
  .header-content-content {
    border: 1px solid #fff;
    font-size: 14px;
    text-align: center;
    color: #fff;
    flex: 1;
  }
}
</style>