<template>
  <div>
    <el-form-item label="考察对象：">
      <el-select v-model="form.investigationObject">
        <el-option
          v-for="item in INVESTIGATION_OBJECT"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        ></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="输入方式：">
      <el-radio-group v-model="form.inputModel">
        <el-radio  label="2">区块式输入</el-radio>
        <el-radio label="1">函数式输入</el-radio>
      </el-radio-group>
    </el-form-item>
    <slot> </slot>
  </div>
</template>
<script>
import { INVESTIGATION_OBJECT } from "@/utils/shortlistedCondition";
export default {
    props: {
        form: {
            type: Object,
        }
    },
  data() {
      return {
          INVESTIGATION_OBJECT,
      }
  },
  mounted() {
    console.log(this.form, 'shortListed')
  }
};
</script>